.home {
    background-image: url('./../bgmovie.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow-x: hidden;
    height: 100%;
    padding: 5rem 5rem;

    .booking {
        .h1 {
            text-align: center;
        }

        color: white;
    }
}